body{
  overflow-x: hidden; /* This hides the side scrolling. This DOES NOT fix the problem, just goes around it for the time being. */
    background-color: #6a6a6a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html{
  scroll-behavior: smooth;
}
#warning {
  text-align: center;
}
#about {
  padding: 30px;
  font-size: 20px;
  box-shadow: 5px;
  border-radius: 10px;
}
.container {
  background-color: #b8b4b4;
  border-radius: 26px 26px 26px 26px;
  -webkit-border-radius: 26px 26px 26px 26px;
  -moz-border-radius: 26px 26px 26px 26px;
  border-top: 5px double #6a6a6a;
  border-bottom: 5px double #6a6a6a;
  padding-top: 5px;
}
.entrie-1 {
    padding-bottom: 15px;
    
}
.container-entries {
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}
.ebtn {
  background-color: #545754;
  border: 2px solid #414141;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}
  .ebtn a:active{
    background-color: #7D7D7D;
    color: Black;
  }
  .ebtn a:hover {
    background-color: #7D7D7D;
    color: rgb(252, 252, 252);
  }
.container p {
  padding-left: 5px;
  padding-top: 15px;

}
.container-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  
}
.container-a :active{
  background-color: #7D7D7D;
    color: white;
}
.container-a :hover{
  background-color: #7D7D7D;
    color: white;
}
footer{
  background: #444343;
  height: auto;
  width: 100vw;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  bottom: 0;
}
.footer-parent {
  bottom: 0;
  padding-top: 50px;
  background-image: linear-gradient(to bottom, #6a6a6a, #2a2a2a);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h1{
    font-style:  bold;
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    top: 0;
    position: bottom;
    width: 100vw;
}
.footer-content p{
    margin: 10px auto;
    line-height: 20px;
    font-size: 18px;
}
#pagelinks {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pagelinks li{
    margin: 0 10px;
}
#pagelinks a{
    text-decoration: none;
    color: rgb(148, 147, 147);
}
#pagelinks a{
    font-size: 1.1rem;
    transition: color .4 ease;
}
#pagelinks a:hover{
    color: #353535;
}

.images { /* container for the images. for box shadowing later */
  box-shadow: #7D7D7D;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #6a6a6a;
  border-radius: 3px; 
  height: auto; 
  border: 6px solid #414141;
  max-height: 800px;
  width: 100%; 

}
#Floatin {
  float: right;
  margin: 10px;
  margin-top: 20px;
  height: auto;
  width: 600px;
}
#navbar {
    overflow: hidden;
    /* background-color: #444343; */
    background: rgb(121,118,118);
    background-image: linear-gradient(to top, #6a6a6a, #2a2a2a);
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    /*position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; 
    padding-bottom: 25px;
    z-index: 99; /* this fixed an issue. */

}

  
  
  #navbar a { /* navbar links */
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 5px;
    border-radius: 50px;
  }



  #navbar #logo { /* logo obv */
    font-size: 35px;
    padding-top: 18px;
    font-weight: bold;
    text-align: center;
    transition: 0.4s;
    z-index: 99;
  }

  #navbar a:hover { /* navbar buttons, for hovering */
    background-color:  #7D7D7D;
    color: black;
  }


  #navbar a.active {/* active button colors/highlight */
    background-color: #7D7D7D;
    color: white;
  }

  /* will put links on the right*/
  #navbar-right {
    float: right;
    padding-top: 18px;
    margin-right: 20px;
  }
  #footer-links {
    list-style: none;
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 5px;
    border-radius: 50px;
  }
  #header_logo {
    height: 70px;
    width: auto;
    float: left;
    margin-right: 25px;
    padding: 2px;
    margin-top: 0px;
    z-index: -1;
  }
  @media screen and (max-width: 990px) {
    #Floatin {
      float:none;
      align-content: center;
      margin-left: 35px;
    }
    .ebtn{
      padding: 5px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 5px;
    }
  }
 
    
  
  /* if on phone, navbar will change to vertical, or small screen or whatever.*/
  @media screen and (max-width: 900px) { /* max width, means when width hits this size it will use the code below */
    #header_logo {
      width: 0;
      height: 0;
    }
    #navbar {
      padding: 5px 10px !important; /* not entirely sure that this does, something about screen sizes on specific screens, needs more work done */
    }
    #navbar li {
      padding-top: 0%;
      padding-block: 0;
      float: center;
      display: block;

      text-align: center;
      align-items: center;
      
      
    }
    #navbar a {
        padding-top: 0%;
        float: none;
        display: block;
        text-align: center;
        align-items: center;
        
        
      }
    #navbar-right {
      float: none;
    }
    #navbar #logo { /* logo obv */
        font-size: 35px;
        font-weight: bold;
    }
    #Floatin {
      max-width:95%;height:auto;
    }
  }
  @media screen and (max-width: 776px) {
    #Floatin {
      margin-left: 10px;
    }
  }
  @media screen and (max-width: 324px) {
    #Floatin {
      margin-left: 5px;
    }
  }
/* The sidebar menu The sidebar menu  The sidebar menu  The sidebar menu  The sidebar menu  The sidebar menu  The sidebar menu  */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 5px 0px 5px 12px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  list-style: circle;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #666565;
  color: rgb(255, 255, 255);
  padding: 6px 8px;
  border: none;
  position: fixed;
  opacity: 50%;
  padding-top: -50px;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0px;
}
#header_logo_sidebar {
  height: 70px;
  width: auto;
  float: top;

  margin-right: 25px;
  padding: 2px;
  margin-top: -75px;
  margin-bottom: 0px;
  z-index: -1;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 900px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/* The sidebar menu The sidebar menu  The sidebar menu  The sidebar menu  The sidebar menu  The sidebar menu  The sidebar menu  */
  